/**
* Плагин LiveStream v.0.2 для AltoCMS
* Файл стилей
*/

.sidebar .panel-navigation.panel-navigation-levestream {
    text-align: center;
}

.stream-body.livestream-body {
    margin-left: 36px;
}

.panel.widget-type-stream .panel-content a {
    color: #428bca;
    text-decoration: none;
}

.panel.widget-type-stream .panel-content img {
    border-radius: 32px;
}


